vehicle_shop {
    margin: 0 50px;
    padding: 50px;
}


name {
    color: #42a5f5;
    font-size: 40px;
    padding: 100px 0px 0px 0px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

web_address, telephone_number, address {
    color: #42a5f5;
    float: right;
    font-size: 20px;
    padding: 10px;
    display: block;
    font-family: 'Courier New', Courier, monospace;
}
vehicle {
    display: block;
    background-color: #B3e5fc;
    border: 1px solid black;
    margin: 40px 20px 0px 20px;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

brand_name {
    font-size: 30px;
}

description, number_of_doors, color, price, quantity {
    font-size: 20px;
    display: block;
    padding: 5px 0px;
}

img {
    width: 75px;
    height: 75px;
    float: left;
    margin-right: 30px;
    margin-left: 20px;
}